<div class="border-t border-b border-grey20 flex">
  <div id="filter-by-overlay-show-button" class="plp-filter-and-sort-buttons mx-auto tracking-wide text-sm leading-lg font-bold uppercase focus:outline-none py-6">
    Filter
  </div>
</div>
